﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:440px;
  top:45px;
  width:200px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:440px;
  top:130px;
  width:200px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:440px;
  top:210px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:156px;
  top:50px;
  width:144px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:366px;
  top:25px;
  width:24px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:360px;
  top:50px;
  width:37px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:356px;
  top:75px;
  width:44px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:156px;
  top:135px;
  width:144px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:366px;
  top:110px;
  width:24px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:362px;
  top:135px;
  width:37px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:358px;
  top:150px;
  width:44px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:132px;
  top:215px;
  width:193px;
  height:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
