</form action="solarbuddy.php" method="POST"> <!--When this form is submitted, the form input will be sent to solarbuddy.php.-->
Install cost:<br>
<input id="field1" type="text" name="Install cost">
<br>
Size kWh:<br>
<input id="field2" type="text" name="Size kWh">
<br>
Location:<br>
<input id="field3" type="text" name="Location">
<br>
Average cost of electricity:<br>
<input id="field4" type="text" name="Average cost of electricity">
<br>
<br>
<input type="submit" value="Submit">
</form>
