﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:480px;
  top:40px;
  width:200px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:480px;
  top:105px;
  width:200px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:480px;
  top:175px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:480px;
  top:245px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:480px;
  top:300px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:480px;
  top:365px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:480px;
  top:415px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:480px;
  top:470px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:480px;
  top:525px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:330px;
  top:595px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:270px;
  top:45px;
  width:65px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:270px;
  top:110px;
  width:57px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:270px;
  top:180px;
  width:50px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:251px;
  top:220px;
  width:103px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:263px;
  top:250px;
  width:80px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:420px;
  top:250px;
  width:29px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:420px;
  top:305px;
  width:28px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:420px;
  top:370px;
  width:28px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:263px;
  top:415px;
  width:79px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:420px;
  top:420px;
  width:29px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:420px;
  top:475px;
  width:28px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:420px;
  top:530px;
  width:28px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
